Repository fyusuf-a/ft_transcendence, pull requests merged in 2022-09, with the labels that each got.

#231 fix(backend): better strategy to enforce unique achievement log
  backend/src/achievements-log/achievements-log.controller.ts
  backend/src/achievements-log/achievements-log.service.ts
  backend/src/achievements-log/entities/achievements-log.entity.ts
Labels: enhancement, backend, xs

#240 feat(backend): populate achievements at start
  backend/src/achievements/achievements.data.ts
  backend/src/achievements/achievements.service.ts
  backend/src/main.ts
  frontend/src/assets/achievements/default.png
Labels: backend, stacked

#238 feat(frontend): implemetation of features for the Profile Page
  backend/src/achievements/achievements.data.ts
  backend/src/achievements/achievements.service.ts
  backend/src/main.ts
  backend/src/relationships/friendships/friendships.controller.ts
  backend/src/relationships/friendships/friendships.service.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  dtos/blocks/index.ts
  dtos/blocks/list-block.dto.ts
  dtos/friendships/friendship.dto.ts
  dtos/friendships/index.ts
  dtos/friendships/list-friendship.dto.ts
  dtos/friendships/update-friendship.dto.ts
  frontend/src/assets/achievements/default.png
  frontend/src/components/Profile/Activate2FA.vue
  frontend/src/components/Profile/AddFriend.vue
  frontend/src/components/Profile/ChangeAvatar.vue
  frontend/src/components/Profile/ChangeUsername.vue
  frontend/src/components/Profile/MyAchievements.vue
  frontend/src/components/Profile/MyFriends.vue
  frontend/src/components/Profile/MyLevel.vue
  frontend/src/components/Profile/MyMatchHistory.vue
  frontend/src/components/Profile/MyProfile.vue
  frontend/src/components/Profile/MyStatistics.vue
  frontend/src/views/ProfileView.vue
Labels: enhancement, frontend

#148 feat(chat): include avatar in messages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Chat/ChannelJoinDialog.vue
  frontend/src/components/Chat/ChatMessage.vue
  frontend/src/store/index.ts
  frontend/src/utils/avatar.ts
  frontend/tests/unit/utils/avatar.spec.ts
Labels: frontend

#261 fix(frontend): fix UI and css
  frontend/src/components/Profile/MyFriends.vue
Labels: enhancement, frontend

#260 fix(fronend): profile/:user can now display a 404 if the user doesn't exist
  backend/src/users/users.controller.ts
  frontend/src/components/Profile/MyFriends.vue
  frontend/src/components/Profile/MyLevel.vue
  frontend/src/components/Profile/MyStatistics.vue
  frontend/src/components/Profile/OtherUsersProfile.vue
  frontend/src/router/index.ts
  frontend/src/views/ProfileView.vue
Labels: bug, frontend, HIGH PRIORITY, feature-review

#255 notifications gateway / status update
  backend/src/app.module.ts
  backend/src/auth/auth.websocket.ts
  backend/src/game/game.gateway.spec.ts
  backend/src/matches/entities/match.entity.ts
  backend/src/matches/matches.controller.spec.ts
  backend/src/matches/matches.module.ts
  backend/src/matches/matches.service.spec.ts
  backend/src/matches/matches.service.ts
  backend/src/notifications.gateway.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.service.ts
  dtos/friendships/list-friendship.dto.ts
  dtos/users/index.ts
  dtos/users/list-user.dto.ts
  dtos/users/status-update-user.dto.ts
  dtos/users/user.dto.ts
  frontend/src/components/Profile/MyFriends.vue
  frontend/src/store/index.ts
  frontend/src/views/UILayout.vue
Labels: enhancement, frontend, backend, HIGH PRIORITY, code-review, feature-review

#265 Add systems to dipsplay achievements and matches on the Profile page
  backend/src/chat.gateway.spec.ts
  backend/src/matches/entities/match.entity.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  frontend/src/assets/achievements/addict.png
  frontend/src/assets/achievements/beginnersLuck.png
  frontend/src/assets/achievements/car.png
  frontend/src/assets/achievements/king-pong.png
  frontend/src/assets/achievements/mastery.png
  frontend/src/assets/achievements/ping.png
  frontend/src/assets/achievements/playerDiff.png
  frontend/src/assets/achievements/pong.png
  frontend/src/components/Profile/MyAchievements.vue
  frontend/src/components/Profile/MyMatchHistory.vue
  frontend/src/views/ProfileView.vue
Labels: enhancement, backend, HIGH PRIORITY, feature-review

#264 feat(chat): update direct message behavior
  backend/src/memberships/memberships.service.ts
  frontend/src/common/dto/channel.dto.ts
  frontend/src/components/Chat/ChannelJoinDialog.vue
  frontend/src/components/Chat/ChannelList.vue
  frontend/src/components/Chat/ChatWindow.vue
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend, feature-review

#277 Fix tests for `actual-blocks` PR
  backend/src/messages/messages.controller.spec.ts
Labels: stacked

#269 feat(frontend): improvement of the game page and the game is responsive
  frontend/src/components/Game/GameWindow.vue
  frontend/src/views/GameView.vue
  frontend/src/views/NotFound.vue
Labels: enhancement, frontend, feature-review

#280 feat(frontend): add a button to add friend on profile of a user
  frontend/src/components/Profile/AddAsFriend.vue
  frontend/src/components/Profile/OtherUsersProfile.vue
Labels: enhancement, frontend

#275 actual blocks
  backend/src/messages/messages.controller.spec.ts
  backend/src/messages/messages.controller.ts
  backend/src/messages/messages.module.ts
  backend/src/messages/messages.service.spec.ts
  backend/src/messages/messages.service.ts
  backend/src/users/users.service.ts
  dtos/blocks/list-block.dto.ts
  dtos/friendships/list-friendship.dto.ts
  dtos/messages/query-message.dto.ts
  dtos/users/display-user.dto.ts
  dtos/users/index.ts
  frontend/src/views/ChatView.vue
Labels: frontend, backend, feature-review
