Repository fyusuf-a/ft_transcendence, pull requests merged in 2022-10, with the labels that each got.

#278 chat: private and protected channels
  backend/src/channels/channels.controller.spec.ts
  backend/src/channels/channels.module.ts
  backend/src/channels/channels.service.spec.ts
  backend/src/channels/channels.service.ts
  backend/src/chat.gateway.ts
  backend/src/memberships/memberships.controller.spec.ts
  backend/src/memberships/memberships.controller.ts
  backend/src/memberships/memberships.module.ts
  backend/src/memberships/memberships.service.spec.ts
  backend/src/memberships/memberships.service.ts
  backend/src/messages/messages.controller.spec.ts
  backend/src/messages/messages.module.ts
  backend/src/messages/messages.service.spec.ts
  backend/src/messages/messages.service.ts
  backend/test/message.e2e-spec.ts
  dtos/channels/index.ts
  dtos/channels/join-channel.dto.ts
  frontend/src/common/dto/channel.dto.ts
  frontend/src/common/dto/membership.dto.ts
  frontend/src/components/Chat/ChannelInviteDialog.vue
  frontend/src/components/Chat/ChannelJoinDialog.vue
  frontend/src/components/Chat/ChannelList.vue
  frontend/src/components/Chat/ChatMessage.vue
  frontend/src/components/Chat/ChatMessageMenu.vue
  frontend/src/components/Chat/ChatWindow.vue
  frontend/src/components/Chat/ChatWindowMenu.vue
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend, backend, HIGH PRIORITY, feature-review

#282 post-game back
  backend/src/achievements-log/achievements-log.controller.ts
  backend/src/achievements-log/achievements-log.service.ts
  backend/src/achievements/achievements.data.ts
  backend/src/game/ball.ts
  backend/src/game/game-state.ts
  backend/src/game/game.gateway.spec.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.ts
  backend/src/matches/matches.service.ts
  backend/src/users/users.service.ts
  dtos/game/score.dto.ts
  dtos/game/state.dto.ts
  frontend/src/assets/images/ball.png
  frontend/src/assets/images/clear.png
  frontend/src/assets/images/eight.png
  frontend/src/assets/images/eleven.png
  frontend/src/assets/images/five.png
  frontend/src/assets/images/four.png
  frontend/src/assets/images/nine.png
  frontend/src/assets/images/one.png
  frontend/src/assets/images/seven.png
  frontend/src/assets/images/six.png
  frontend/src/assets/images/ten.png
  frontend/src/assets/images/three.png
  frontend/src/assets/images/two.png
  frontend/src/assets/images/zero.png
  frontend/src/components/Game/GameWindow.vue
  frontend/src/components/Game/src/ball.ts
  frontend/src/components/Game/src/paddle.ts
  frontend/src/components/Game/src/pong.ts
  frontend/src/components/Game/src/score.ts
  frontend/src/components/Profile/MyLevel.vue
  frontend/src/components/Profile/MyStatistics.vue
  frontend/src/router/index.ts
  frontend/src/views/GameView.vue
Labels: backend, HIGH PRIORITY, feature-review

#296 feat(chat): implement blocking
  frontend/src/views/ChatView.vue
Labels: frontend, feature-review

#302 feat(chat): redirect challenges to GameView
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend, feature-review

#299 feat(chat) allow owner to change password
  frontend/src/components/Chat/ChannelPasswordDialog.vue
  frontend/src/components/Chat/ChatWindow.vue
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend, HIGH PRIORITY, feature-review

#306 chore!: updates to latest versions of packages
  backend/Dockerfile.prod
  backend/docker-entrypoint.sh
  backend/package-lock.json
  backend/package.json
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Chat/ChannelList.vue
  frontend/src/components/Game/GameWindow.vue
  frontend/src/components/Profile/OtherUsersProfile.vue
Labels: frontend, backend, BREAKING CHANGE, HIGH PRIORITY

#317 fix(frontend): fixes 2-factor authentication
  frontend/src/components/Profile/Activate2FA.vue
  frontend/src/store/index.ts
Labels: bug, frontend, xs, HIGH PRIORITY

#308 feat(chat): allow admin to mute/ban (frontend)
  backend/src/chat.gateway.ts
  frontend/src/components/Chat/ChannelKarmaDialog.vue
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend, HIGH PRIORITY

#310 feat(login): add a login button
  frontend/src/components/Login/FortyTwo.vue
  frontend/src/components/Login/TwoFA.vue
Labels: enhancement, frontend, low priority, stacked

#311 feat(game): Disconnection should be handle properly, meaning game jus…
  backend/src/game/game.gateway.ts
  backend/src/game/game.ts
  backend/src/matches/matches.controller.spec.ts
  backend/src/matches/matches.controller.ts
  backend/src/matches/matches.service.spec.ts
  backend/src/matches/matches.service.ts
  backend/src/users/users.service.ts
  frontend/src/components/Game/GameWindow.vue
Labels: frontend, backend, HIGH PRIORITY, feature-review

#309 feat(logout): add logout option to nav drawer
  frontend/src/components/Login/FortyTwo.vue
  frontend/src/components/Login/TwoFA.vue
  frontend/src/components/UI/TheNavigationDrawer.vue
  frontend/src/router/index.ts
  frontend/src/views/LogoutView.vue
Labels: enhancement, frontend, HIGH PRIORITY, feature-review

#320 challenge from chat, spectate from game
  backend/src/auth/auth.websocket.ts
  backend/src/game/game.gateway.ts
  backend/src/matches/matches.controller.ts
  backend/src/matches/matches.module.ts
  backend/src/matches/matches.service.ts
  frontend/src/components/Game/GameWindow.vue
  frontend/src/components/Profile/MyFriends.vue
  frontend/src/store/index.ts
Labels: frontend, backend, HIGH PRIORITY, feature-review

#318 Handle warning and errors in frontend
  frontend/src/components/Profile/OtherUsersProfile.vue
Labels: frontend, HIGH PRIORITY

#323 feat(chat): add DM option in ChatJoinDialog
  frontend/src/components/Chat/ChannelJoinDialog.vue
  frontend/src/components/Chat/ChannelList.vue
  frontend/src/components/Chat/ChatDmDialog.vue
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend, HIGH PRIORITY, feature-review

#322 fix(frontend): if a user is blocked, you can't add them as friend
  frontend/src/components/Profile/AddAsFriend.vue
  frontend/src/components/Profile/AddFriend.vue
Labels: frontend, HIGH PRIORITY, feature-review

#333 fix(chat): make dms appear in new dm channels
  frontend/src/views/ChatView.vue
Labels: bug, frontend, HIGH PRIORITY

#284 notifications
  backend/src/chat.gateway.spec.ts
  backend/src/game/game.gateway.spec.ts
  backend/src/game/game.gateway.ts
  backend/src/matches/matches.controller.spec.ts
  backend/src/matches/matches.module.ts
  backend/src/matches/matches.service.spec.ts
  backend/src/messages/messages.controller.spec.ts
  backend/src/messages/messages.module.ts
  backend/src/messages/messages.service.spec.ts
  backend/src/messages/messages.service.ts
  backend/src/notifications.gateway.ts
  frontend/src/components/Game/GameWindow.vue
  frontend/src/components/Notifications/NotificationIcon.vue
  frontend/src/components/UI/TheAppBar.vue
  frontend/src/store/index.ts
  frontend/src/views/UILayout.vue
Labels: frontend, backend, low priority, feature-review

#334 feat(chat): emit membership.created event
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/channels/channels.controller.spec.ts
  backend/src/channels/channels.service.spec.ts
  backend/src/chat.gateway.spec.ts
  backend/src/chat.gateway.ts
  backend/src/memberships/memberships.controller.spec.ts
  backend/src/memberships/memberships.service.spec.ts
  backend/src/memberships/memberships.service.ts
  backend/test/channel.e2e-spec.ts
  backend/test/membership.e2e-spec.ts
  backend/test/message.e2e-spec.ts
  backend/test/user.e2e-spec.ts
  frontend/src/views/ChatView.vue
Labels: bug, frontend, HIGH PRIORITY

#336 fix(chat): channel creation failure and deletion
  backend/src/app.module.ts
  backend/src/channels/channels.service.ts
  backend/src/chat.gateway.ts
  backend/src/memberships/memberships.service.ts
  frontend/src/components/Chat/ChannelJoinDialog.vue
  frontend/src/views/ChatView.vue
Labels: bug, frontend, HIGH PRIORITY

#341 fix(game): user is properly disconnected from game when switching route
  frontend/src/views/GameView.vue
Labels: bug, backend, xs

#340 refactor(blocks): blocks no longer use status
  backend/src/relationships/blocks/blocks.service.ts
  backend/src/relationships/entities/block.entity.ts
  backend/src/users/users.service.ts
  dtos/blocks/block.dto.ts
  dtos/blocks/create-block.dto.ts
  dtos/blocks/list-block.dto.ts
  dtos/blocks/query-block.dto.ts
Labels: backend

#345 chore: remove npm update from docker files
  backend/docker-entrypoint.sh
  backend/package-lock.json
  frontend/Dockerfile
  frontend/package-lock.json
Labels: HIGH PRIORITY

#349 fix(chat): fetch all messages in channel
  frontend/src/views/ChatView.vue
Labels: bug, frontend, stacked, HIGH PRIORITY

#350 fix(chat): hide password field in ChannelJoinDialog
  frontend/src/components/Chat/ChannelJoinDialog.vue
Labels: bug, frontend, stacked

#351 Fix chat display
  frontend/src/components/Chat/ChatMessage.vue
  frontend/src/views/ChatView.vue
Labels: frontend, stacked

#359 Fix Chat refreshChannels
  backend/src/all-exceptions.filter.ts
  frontend/src/views/ChatView.vue
Labels: stacked

#347 fix(frontend): last case when friend request shouldn't be send
  frontend/src/components/Profile/AddAsFriend.vue
  frontend/src/components/Profile/AddFriend.vue
Labels: frontend, HIGH PRIORITY, feature-review

#363 fix(frontend): fix the error in resize, when canvas is null
  frontend/src/components/Game/GameWindow.vue
Labels: HIGH PRIORITY, code-review

#362 refactor(friendships): enforcing unique in both ways -target-source-
  backend/src/relationships/friendships/friendships.service.ts
  frontend/src/components/Profile/AddFriend.vue
Labels: bug, backend, HIGH PRIORITY

#348 Cleanup the ChatView and components
  backend/src/chat/chat.gateway.ts
  backend/src/memberships/memberships.service.ts
  frontend/src/components/Chat/ChannelInviteDialog.vue
  frontend/src/components/Chat/ChannelJoinDialog.vue
  frontend/src/components/Chat/ChannelList.vue
  frontend/src/components/Chat/ChatDmDialog.vue
  frontend/src/components/Chat/ChatMessage.vue
  frontend/src/components/Chat/ChatWindow.vue
  frontend/src/views/ChatView.vue
Labels: frontend

#365 feat(backend): adds authorization to blocks
  backend/src/casl/casl-ability.factory.ts
  backend/src/relationships/blocks/blocks.controller.spec.ts
  backend/src/relationships/blocks/blocks.controller.ts
  backend/src/relationships/blocks/blocks.module.ts
  backend/src/relationships/blocks/blocks.service.ts
  dtos/blocks/block.dto.ts
  dtos/blocks/query-block.dto.ts
Labels: enhancement, backend

#366 fix(backend): recreate /users/username in users controller
  backend/src/users/users.controller.ts
  frontend/src/components/Profile/OtherUsersProfile.vue
Labels: frontend, backend, HIGH PRIORITY, code-review, feature-review

#368 fix(channel): return userOneId and userTwoId
  backend/src/channels/channels.controller.ts
  backend/src/channels/channels.service.ts
  dtos/channels/response-channel.dto.ts
Labels: HIGH PRIORITY

#367 style: remove outdated comments
  .github/workflows/frontend-ci.yml
  backend/src/all-exceptions.filter.ts
  backend/src/channels/channels.controller.ts
  backend/src/chat/chat.gateway.ts
  backend/src/game/ball.ts
  backend/src/game/game.gateway.ts
  backend/src/game/player.ts
  backend/src/memberships/memberships.controller.ts
  backend/src/messages/messages.controller.ts
  backend/src/relationships/blocks/blocks.controller.ts
  backend/src/relationships/friendships/friendships.controller.ts
  dtos/game/create-game.dto.ts
  dtos/game/game-options.dto.ts
Labels: low priority

#386 fix(chat): remove socket off
  frontend/src/components/Chat/ChatWindow.vue
  frontend/src/views/ChatView.vue
Labels: HIGH PRIORITY

#384 fix(all): removed most of console.logs, left the ones that were the o…
  backend/src/matches/matches.controller.ts
  backend/src/matches/matches.service.ts
  backend/src/notifications/notifications.gateway.ts
  frontend/src/components/Chat/ChannelInviteDialog.vue
  frontend/src/components/Game/GameWindow.vue
  frontend/src/components/Game/src/input.ts
  frontend/src/components/Profile/AddAsFriend.vue
  frontend/src/components/Profile/AddFriend.vue
  frontend/src/components/Profile/BlockUser.vue
  frontend/src/components/Profile/ChangeUsername.vue
  frontend/src/components/Profile/MyFriends.vue
Labels: frontend, backend, low priority, code-review
