Repository fyusuf-a/ft_transcendence, pull requests merged in 2022-07, with the labels that each got.

#81 test(git hooks): adding linting pre-push
  .githooks/pre-push
Labels: enhancement, good first issue, ci-cd

#79 test(backend): added a match entity, service and controller, and tests
  backend/src/app.module.ts
  backend/src/common/dto/page.dto.ts
  backend/src/matches/dto/create-match.dto.ts
  backend/src/matches/dto/match.dto.ts
  backend/src/matches/dto/query-match.dto.ts
  backend/src/matches/dto/response-match.dto.ts
  backend/src/matches/dto/update-match.dto.ts
  backend/src/matches/entities/match.entity.ts
  backend/src/matches/matches.controller.spec.ts
  backend/src/matches/matches.controller.ts
  backend/src/matches/matches.module.ts
  backend/src/matches/matches.service.spec.ts
  backend/src/matches/matches.service.ts
  backend/src/matches/repository/match.repository.ts
Labels: enhancement, backend

#87 feat(backend): add optional BACKEND_PORT
  .env.example
  backend/src/main.ts
Labels: enhancement, backend

#90 fix(HelloWorld): delete HelloWorld.vue
  frontend/src/components/HelloWorld.vue
Labels: good first issue, frontend, low priority

#91 fix(backend): change jest --watch to --watchAll
  backend/package.json
Labels: bug, good first issue, ci-cd, low priority

#102 Hash channel passwords using bcrypt
  backend/package-lock.json
  backend/package.json
  backend/src/channels/channels.service.spec.ts
  backend/src/channels/channels.service.ts
  backend/src/channels/mocks/channel.entity.mock.ts
Labels: enhancement, good first issue, backend

#89 Update frontend linting and unit tests to be usable in CI
  .github/workflows/frontend-ci.yml
  frontend/src/router/auth.ts
  frontend/tests/unit/example.spec.ts
Labels: enhancement, good first issue, frontend, ci-cd

#119 fix(frontend): uses typescript in all vue component files
  frontend/src/components/Notifications/NotificationIcon.vue
  frontend/src/components/Profile/ProfileCard.vue
  frontend/src/components/Team/TeamCard.vue
  frontend/src/components/UI/TheAppBar.vue
  frontend/src/components/UI/TheNavigationDrawer.vue
  frontend/src/views/AboutView.vue
Labels: enhancement, frontend, xs

#125 feat(ci): configures conventional commits
  .github/semantic.yml
Labels: enhancement, ci-cd

#109 Fyusuf a/profile
  .env.example
  backend/Dockerfile
  backend/src/auth/auth.service.ts
  backend/src/channels/repository/channel.repository.ts
  backend/src/main.ts
  backend/src/matches/repository/match.repository.ts
  backend/src/relationships/blocks/dto/query-block.dto.ts
  backend/src/relationships/friendships/dto/query-friendship.dto.ts
  backend/src/relationships/friendships/friendships.controller.ts
  backend/src/relationships/friendships/friendships.service.ts
  backend/src/relationships/friendships/repositories/friendship.repository.ts
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/images/king-pong.png
  frontend/src/components/Profile/MyFriends.vue
  frontend/src/components/Profile/MyProfile.vue
  frontend/src/components/Profile/ProfileCard.vue
  frontend/src/components/UI/TheAppBar.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/store/index.ts
  frontend/src/views/LoginView.vue
  frontend/src/views/ProfileView.vue
Labels: bug, enhancement, frontend, backend

#143 fix!: update TypeORM to 0.3.7
  backend/package-lock.json
  backend/package.json
  backend/src/achievements-log/achievements-log.module.ts
  backend/src/achievements-log/achievements-log.service.ts
  backend/src/achievements-log/repository/achievements-log.repository.ts
  backend/src/achievements/achievements.module.ts
  backend/src/achievements/achievements.service.ts
  backend/src/achievements/repository/achievements.repository.ts
  backend/src/channels/channels.controller.spec.ts
  backend/src/channels/channels.controller.ts
  backend/src/channels/channels.module.ts
  backend/src/channels/channels.service.spec.ts
  backend/src/channels/channels.service.ts
  backend/src/channels/repository/channel.repository.ts
  backend/src/chat.gateway.spec.ts
  backend/src/common/mocks/repository.mock.ts
  backend/src/common/paginate.spec.ts
  backend/src/common/paginate.ts
  backend/src/common/repository.ts
  backend/src/matches/matches.controller.spec.ts
  backend/src/matches/matches.module.ts
  backend/src/matches/matches.service.spec.ts
  backend/src/matches/matches.service.ts
  backend/src/matches/repository/match.repository.ts
  backend/src/memberships/memberships.controller.spec.ts
  backend/src/memberships/memberships.module.ts
  backend/src/memberships/memberships.service.spec.ts
  backend/src/memberships/memberships.service.ts
  backend/src/messages/messages.controller.spec.ts
  backend/src/messages/messages.controller.ts
  backend/src/messages/messages.module.ts
  backend/src/messages/messages.service.spec.ts
  backend/src/messages/messages.service.ts
  backend/src/messages/repository/message.repository.ts
  backend/src/relationships/blocks/blocks.controller.spec.ts
  backend/src/relationships/blocks/blocks.module.ts
  backend/src/relationships/blocks/blocks.service.spec.ts
  backend/src/relationships/blocks/blocks.service.ts
  backend/src/relationships/blocks/repositories/blocks.repository.ts
  backend/src/relationships/friendships/friendship.service.spec.ts
  backend/src/relationships/friendships/friendships.controller.spec.ts
  backend/src/relationships/friendships/friendships.module.ts
  backend/src/relationships/friendships/friendships.service.ts
  backend/src/relationships/friendships/repositories/friendship.repository.ts
  backend/src/users/repository/user.repository.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: backend, dependency, BREAKING CHANGE

#152 fix: remove unused prop from team-card tag
  frontend/src/views/AboutView.vue
Labels: good first issue, frontend, low priority, xs

#150 style(friendships): rename friendship.service.spec
  backend/src/relationships/friendships/friendships.service.spec.ts
Labels: good first issue, backend, low priority, xs

#151 refactor(match)!: rename QueryMatchDto.role
  dtos/matches/match.dto.ts
  dtos/matches/query-match.dto.ts
Labels: good first issue, backend, low priority, xs, BREAKING CHANGE

#118 refactor: of the CI/CD
  .dockerignore
  .env.example
  .github/workflows/backend-ci.yml
  .github/workflows/cd.yml
  .github/workflows/frontend-ci.yml
  README.md
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.dockerignore
  backend/Dockerfile.prod
  backend/Dockerfile.prod.dockerignore
  backend/docker-entrypoint.sh
  backend/src/matches/matches.service.ts
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.dockerignore
  frontend/Dockerfile.prod
  frontend/Dockerfile.prod.dockerignore
  frontend/src/router/index.ts
Labels: bug, enhancement, ci-cd

#140 feat(ChatView) create ChatView
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/ChatView.vue
  frontend/tests/unit/Chat/ChatView.spec.ts
  frontend/tsconfig.json
Labels: enhancement, frontend, stacked

#139 feat(ChatView): create ChannelList.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Chat/ChannelList.vue
  frontend/src/views/ChatView.vue
  frontend/tests/unit/Chat/ChannelList.spec.ts
  frontend/tests/unit/Chat/ChatView.spec.ts
  frontend/tsconfig.json
Labels: enhancement, frontend, stacked

#138 feat(ChatView): create ChatChannelJoinDialog.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Chat/ChannelJoinDialog.vue
  frontend/src/components/Chat/ChannelList.vue
  frontend/src/views/ChatView.vue
  frontend/tests/unit/Chat/ChannelJoinDialog.spec.ts
  frontend/tests/unit/Chat/ChannelList.spec.ts
  frontend/tests/unit/Chat/ChatView.spec.ts
  frontend/tsconfig.json
Labels: enhancement, frontend, stacked

#136 feat(ChatView): create ChatWindowMenu.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/dto/channel.dto.ts
  frontend/src/common/dto/membership.dto.ts
  frontend/src/common/dto/message.dto.ts
  frontend/src/common/dto/user.dto.ts
  frontend/src/components/Chat/ChannelJoinDialog.vue
  frontend/src/components/Chat/ChannelList.vue
  frontend/src/components/Chat/ChatWindow.vue
  frontend/src/components/Chat/ChatWindowMenu.vue
  frontend/src/views/ChatView.vue
  frontend/tests/unit/Chat/ChannelJoinDialog.spec.ts
  frontend/tests/unit/Chat/ChannelList.spec.ts
  frontend/tests/unit/Chat/ChatView.spec.ts
  frontend/tests/unit/Chat/ChatWindow.spec.ts
  frontend/tests/unit/Chat/ChatWindowMenu.spec.ts
  frontend/tsconfig.json
Labels: enhancement, frontend, stacked

#134 feat(ChatView): create ChatMessageMenu.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/dto/channel.dto.ts
  frontend/src/common/dto/membership.dto.ts
  frontend/src/common/dto/message.dto.ts
  frontend/src/common/dto/user.dto.ts
  frontend/src/components/Chat/ChannelJoinDialog.vue
  frontend/src/components/Chat/ChannelList.vue
  frontend/src/components/Chat/ChatMessage.vue
  frontend/src/components/Chat/ChatMessageMenu.vue
  frontend/src/components/Chat/ChatWindow.vue
  frontend/src/components/Chat/ChatWindowMenu.vue
  frontend/src/views/ChatView.vue
  frontend/tests/unit/Chat/ChannelJoinDialog.spec.ts
  frontend/tests/unit/Chat/ChannelList.spec.ts
  frontend/tests/unit/Chat/ChatMessage.spec.ts
  frontend/tests/unit/Chat/ChatMessageMenu.spec.ts
  frontend/tests/unit/Chat/ChatView.spec.ts
  frontend/tests/unit/Chat/ChatWindow.spec.ts
  frontend/tests/unit/Chat/ChatWindowMenu.spec.ts
  frontend/tsconfig.json
Labels: enhancement, frontend

#153 fix: delete auth.ts
  frontend/src/router/auth.ts
Labels: good first issue, frontend, low priority, xs

#166 fix(backend): development image of the backend builds correctly
  backend/Dockerfile
Labels: bug, backend, ci-cd

#149 feat(memberships): check authorization to create
  backend/src/memberships/memberships.controller.spec.ts
  backend/src/memberships/memberships.controller.ts
  backend/src/memberships/memberships.module.ts
  backend/src/memberships/memberships.service.spec.ts
  backend/src/memberships/memberships.service.ts
  backend/test/membership.e2e-spec.ts
  dtos/memberships/create-membership.dto.ts
Labels: backend
