Repository fyusuf-a/ft_transcendence, pull requests merged in 2022-08, with the labels that each got.

#160 enhance(backend): better match dtos
  backend/src/matches/matches.controller.spec.ts
  dtos/matches/create-match.dto.ts
  dtos/matches/match.dto.ts
  dtos/matches/query-match.dto.ts
  dtos/matches/response-match.dto.ts
  dtos/matches/update-match.dto.ts
Labels: xs

#206 enhance(backend): Added Cascade deletion to all ManyToOne relations
  backend/src/achievements-log/entities/achievements-log.entity.ts
  backend/src/channels/entities/channel.entity.ts
  backend/src/matches/entities/match.entity.ts
  backend/src/messages/entities/message.entity.ts
  backend/src/relationships/entities/block.entity.ts
  backend/src/relationships/entities/friendship.entity.ts
Labels: backend, xs, stacked

#212 abouchau/delete previous avatar
  backend/src/users/users.service.ts
Labels: backend, low priority, xs, stacked

#209 abouchau/more strict upload
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
Labels: backend, low priority, xs

#215 Authentification with the 42 API
  .env.example
  .github/workflows/backend-ci.yml
  README.md
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.jwt.strategy.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/marvin.strategy.ts
  backend/src/config/configuration.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.service.ts
  docker-compose.yml
  dtos/auth/index.ts
  dtos/auth/login-user.dto.ts
  dtos/auth/query-url.dto.ts
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/src/components/UI/TheAppBar.vue
  frontend/src/config/index.ts
  frontend/src/plugins/axios.ts
  frontend/src/router/index.ts
  frontend/src/store/index.ts
  frontend/src/views/CreateAccountView.vue
  frontend/src/views/LoginView.vue
Labels: documentation, enhancement
